In [1]:
import sqlite3
import pandas as pd

## Connect to the database

In [2]:
conn = sqlite3.connect('dialects_database.db')

## Read data from tables

In [3]:
# Read data from Table1
table1_data = pd.read_sql_query("SELECT * FROM id_dialect", conn)

# Read data from Table2
table2_data = pd.read_sql_query("SELECT * FROM id_text", conn)

## Merge the tables on the "id" column

In [4]:
merged_data = pd.merge(table1_data, table2_data, on='id')

# Close the database connection
conn.close()

In [5]:
merged_data.head(5)

,id,dialect,text
0,1009754958479151232,LY,@toha_Altomy @gy_yah قليلين ادب ومنافقين. لو ا...
1,1009794751548313600,LY,@AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ...
2,1019989115490787200,LY,@smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بير...
3,1035479791758135168,LY,@AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا...
4,1035481122921164800,LY,@lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ا...

## Save Merged Data

In [6]:
merged_data.to_csv("dialects_database.csv")

In [9]:
merged_data["dialect"].value_counts()

EG    57636
LY    36499
LB    27617
SD    14434
MA    11539
Name: dialect, dtype: int64